.welcome-page {
  background-image: url("/public/images/red_welcome-sm.jpg");
  width: 100%;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.welcome-overlay {
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem 0 4rem;
  font-size: 0.9rem;
}

.body-section {
  width: 90%;
  padding: 2rem 0;
  margin: 1rem auto;
}

.body-section h3 {
  font-size: 1.3rem;
  margin: 0 0 0.5rem 0;
}

.body-section p {
  font-size: 0.9em;
  margin: 0 0 1rem 0;
}

.section-wrapper-nogrid {
  margin: 0.5rem auto;
  display: flex;
  justify-content: space-between;
}

.violet-btn {
  background-color: #000000;
  color: white;
  cursor: pointer;
  padding: 0.5em 0;
}

.violet-btn:active {
  transform: translateY(2px);
}

.caption h4 {
  font-size: 1rem;
  margin: 0 0 0.25rem 0;
}

.caption p {
  font-size: 0.85em;
  margin: 0 0 1rem 0;
}

.hidden {
  display: none;
}

.show {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.2);
}

.footer-page {
  width: 100%;
  height: auto;
  color: #2f4858;
  background-color: #f5f8ff;
  margin: 10% 0 0 0;
}

.footer-overlay {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0.75rem 1.5rem;
  font-size: 0.75rem;
}

.footer-address {
  width: 60%;
}

@media screen and (min-width: 600px) {
  .body-section {
    width: 90%;
  }

  .welcome-overlay {
    height: auto;
  }
}

@media screen and (min-width: 1000px) {
  .body-section {
    width: 60%;
  }

  .welcome-overlay {
    height: 90vh;
  }
}
